body {
    padding: 0;
    margin: 0;
}

aside, nav, main, section {
    border: 1px red dotted;
}

aside {
    position: fixed;
    width: 20vw;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: 3;
    transition: transform .3s;
    padding: 1vw;
    height: 100%;
    background: #424242;
    color: #ffffff;
}

.open > aside {
    transform: translate(-22vw, 0);
}

main, nav {
    padding-left: 22vw;
    will-change: padding-left;
    transition: padding-left .3s;
}

.open > main, .open > nav {
    padding-left: 0;
}

nav {
    background: #2196f3;
    min-height: 50px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px rgba(0,0,0,.14),0 1px 10px rgba(0,0,0,.12);
}

main {
    margin: 30px 0;
}

.fill {
    padding: 20px;
}